# Ensemble Learning

## Initial Imports

In [1]:
import warnings
warnings.filterwarnings('ignore')

In [2]:
import numpy as np
import pandas as pd
from pathlib import Path
from collections import Counter

In [3]:
from sklearn.metrics import balanced_accuracy_score
from sklearn.metrics import confusion_matrix
from imblearn.metrics import classification_report_imbalanced

## Read the CSV and Perform Basic Data Cleaning

In [4]:
# Load the data
file_path = Path('Resources/LoanStats_2019Q1.csv')
df = pd.read_csv(file_path)
df= pd.get_dummies(df, columns=['home_ownership', 'verification_status', 'issue_d', 'pymnt_plan', 'initial_list_status', 'next_pymnt_d','application_type', 'hardship_flag', 'debt_settlement_flag'])

# Preview the data
df.head()

,loan_amnt,int_rate,installment,annual_inc,loan_status,dti,delinq_2yrs,inq_last_6mths,open_acc,pub_rec,...,issue_d_Mar-2019,pymnt_plan_n,initial_list_status_f,initial_list_status_w,next_pymnt_d_Apr-2019,next_pymnt_d_May-2019,application_type_Individual,application_type_Joint App,hardship_flag_N,debt_settlement_flag_N
0,10500.0,0.1719,375.35,66000.0,low_risk,27.24,0.0,0.0,8.0,0.0,...,1,1,0,1,0,1,1,0,1,1
1,25000.0,0.2000,929.09,105000.0,low_risk,20.23,0.0,0.0,17.0,1.0,...,1,1,0,1,0,1,1,0,1,1
2,20000.0,0.2000,529.88,56000.0,low_risk,24.26,0.0,0.0,8.0,0.0,...,1,1,0,1,0,1,1,0,1,1
3,10000.0,0.1640,353.55,92000.0,low_risk,31.44,0.0,1.0,10.0,1.0,...,1,1,0,1,0,1,1,0,1,1
4,22000.0,0.1474,520.39,52000.0,low_risk,18.76,0.0,1.0,14.0,0.0,...,1,1,0,1,0,1,1,0,1,1

## Split the Data into Training and Testing

In [5]:
# Create our features
X= df.drop(columns='loan_status')

# Create our target
y = df['loan_status']

In [6]:
X.describe()

,loan_amnt,int_rate,installment,annual_inc,dti,delinq_2yrs,inq_last_6mths,open_acc,pub_rec,revol_bal,...,issue_d_Mar-2019,pymnt_plan_n,initial_list_status_f,initial_list_status_w,next_pymnt_d_Apr-2019,next_pymnt_d_May-2019,application_type_Individual,application_type_Joint App,hardship_flag_N,debt_settlement_flag_N
count,68817.000000,68817.000000,68817.000000,6.881700e+04,68817.000000,68817.000000,68817.000000,68817.000000,68817.000000,68817.000000,...,68817.000000,68817.0,68817.000000,68817.000000,68817.000000,68817.000000,68817.000000,68817.000000,68817.0,68817.0
mean,16677.594562,0.127718,480.652863,8.821371e+04,21.778153,0.217766,0.497697,12.587340,0.126030,17604.142828,...,0.177238,1.0,0.123879,0.876121,0.383161,0.616839,0.860340,0.139660,1.0,1.0
std,10277.348590,0.048130,288.062432,1.155800e+05,20.199244,0.718367,0.758122,6.022869,0.336797,21835.880400,...,0.381873,0.0,0.329446,0.329446,0.486161,0.486161,0.346637,0.346637,0.0,0.0
min,1000.000000,0.060000,30.890000,4.000000e+01,0.000000,0.000000,0.000000,2.000000,0.000000,0.000000,...,0.000000,1.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.0,1.0
25%,9000.000000,0.088100,265.730000,5.000000e+04,13.890000,0.000000,0.000000,8.000000,0.000000,6293.000000,...,0.000000,1.0,0.000000,1.000000,0.000000,0.000000,1.000000,0.000000,1.0,1.0
50%,15000.000000,0.118000,404.560000,7.300000e+04,19.760000,0.000000,0.000000,11.000000,0.000000,12068.000000,...,0.000000,1.0,0.000000,1.000000,0.000000,1.000000,1.000000,0.000000,1.0,1.0
75%,24000.000000,0.155700,648.100000,1.040000e+05,26.660000,0.000000,1.000000,16.000000,0.000000,21735.000000,...,0.000000,1.0,0.000000,1.000000,1.000000,1.000000,1.000000,0.000000,1.0,1.0
max,40000.000000,0.308400,1676.230000,8.797500e+06,999.000000,18.000000,5.000000,72.000000,4.000000,587191.000000,...,1.000000,1.0,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.0,1.0

In [7]:
# Check the balance of our target values
# YOUR CODE HERE
y.value_counts()

low_risk     68470
high_risk      347
Name: loan_status, dtype: int64

In [8]:
# Split the X and y into X_train, X_test, y_train, y_test
# YOUR CODE HERE
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=78)

## Data Pre-Processing

Scale the training and testing data using the `StandardScaler` from `sklearn`. Remember that when scaling the data, you only scale the features data (`X_train` and `X_testing`).

In [9]:
# Create the StandardScaler instance
# YOUR CODE HERE
from sklearn.preprocessing import StandardScaler
scaler= StandardScaler()

In [10]:
# Fit the Standard Scaler with the training data
# When fitting scaling functions, only train on the training dataset
# YOUR CODE HERE
X_scaler = scaler.fit(X_train)

In [11]:
# Scale the training and testing data
# YOUR CODE HERE
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Ensemble Learners

In this section, you will compare two ensemble algorithms to determine which algorithm results in the best performance. You will train a Balanced Random Forest Classifier and an Easy Ensemble classifier . For each algorithm, be sure to complete the folliowing steps:

1. Train the model using the training data. 
2. Calculate the balanced accuracy score from sklearn.metrics.
3. Display the confusion matrix from sklearn.metrics.
4. Generate a classication report using the `imbalanced_classification_report` from imbalanced-learn.
5. For the Balanced Random Forest Classifier only, print the feature importance sorted in descending order (most important feature to least important) along with the feature score

Note: Use a random state of 1 for each algorithm to ensure consistency between tests

### Balanced Random Forest Classifier

In [23]:
# Resample the training data with the BalancedRandomForestClassifier
# YOUR CODE HERE
from sklearn.ensemble import RandomForestClassifier

rf_model = RandomForestClassifier(n_estimators=100, random_state=78)
rf_model = rf_model.fit(X_train_scaled, y_train)

In [24]:
# Calculated the balanced accuracy score
# YOUR CODE HERE
predictions = rf_model.predict(X_test_scaled)
balanced_accuracy_score(y_test, predictions)

0.6570243445740461

In [25]:
# Display the confusion matrix
# YOUR CODE HERE
confusion_matrix(y_test, predictions)

array([[   29,    63],
       [   20, 17093]], dtype=int64)

In [26]:
# Print the imbalanced classification report
# YOUR CODE HERE
print(classification_report_imbalanced(y_test, predictions))

                   pre       rec       spe        f1       geo       iba       sup

  high_risk       0.59      0.32      1.00      0.41      0.56      0.29        92
   low_risk       1.00      1.00      0.32      1.00      0.56      0.34     17113

avg / total       0.99      1.00      0.32      0.99      0.56      0.34     17205

In [29]:
# List the features sorted in descending order by feature importance
# YOUR CODE HERE
importances = rf_model.feature_importances_
importances_sorted = sorted(zip(rf_model.feature_importances_, X.columns), reverse=True)
importances_sorted

[(0.08793538530204213, 'total_rec_int'),
 (0.08639918835849911, 'last_pymnt_amnt'),
 (0.06973961545522732, 'total_rec_prncp'),
 (0.06723983883623168, 'total_pymnt'),
 (0.06308341350803008, 'total_pymnt_inv'),
 (0.021696872597154637, 'out_prncp'),
 (0.019540425645809805, 'out_prncp_inv'),
 (0.017765739485564987, 'installment'),
 (0.01758567125884019, 'mo_sin_old_rev_tl_op'),
 (0.015391488412018522, 'bc_open_to_buy'),
 (0.01490770903557444, 'bc_util'),
 (0.014423395836551705, 'revol_bal'),
 (0.014339457792403408, 'total_rec_late_fee'),
 (0.014223401215693368, 'mo_sin_old_il_acct'),
 (0.014167782778791355, 'dti'),
 (0.01403019470508706, 'tot_hi_cred_lim'),
 (0.013668179997990266, 'total_rev_hi_lim'),
 (0.013421926187169978, 'total_bc_limit'),
 (0.013231666805579748, 'tot_cur_bal'),
 (0.012531643648945351, 'max_bal_bc'),
 (0.012514535007020095, 'avg_cur_bal'),
 (0.012282770270341902, 'total_bal_ex_mort'),
 (0.012221143755324494, 'loan_amnt'),
 (0.012050159821215708, 'total_il_high_credit_limit'),
 (0.01133962414174111, 'total_bal_il'),
 (0.011291615987675804, 'il_util'),
 (0.011158836447619471, 'all_util'),
 (0.011087471859701919, 'mths_since_rcnt_il'),
 (0.010915719796376863, 'int_rate'),
 (0.010757072832381217, 'mths_since_recent_inq'),
 (0.010706344447602498, 'annual_inc'),
 (0.010453418530402625, 'mo_sin_rcnt_rev_tl_op'),
 (0.01001206661392117, 'total_acc'),
 (0.0099737489613383, 'mths_since_recent_bc'),
 (0.009397083993148666, 'inq_last_12m'),
 (0.009130476255048233, 'mo_sin_rcnt_tl'),
 (0.008868224199687295, 'num_actv_rev_tl'),
 (0.008744778605491934, 'num_il_tl'),
 (0.008617083210471832, 'num_rev_tl_bal_gt_0'),
 (0.008519109959293971, 'num_sats'),
 (0.008221835695683915, 'num_rev_accts'),
 (0.007944993818146971, 'num_op_rev_tl'),
 (0.007870608565302133, 'total_cu_tl'),
 (0.007544944710463327, 'pct_tl_nvr_dlq'),
 (0.0074439711073977025, 'num_bc_tl'),
 (0.007305408851258911, 'acc_open_past_24mths'),
 (0.007272467871310821, 'open_acc'),
 (0.007050741966326904, 'num_bc_sats'),
 (0.007045344348923906, 'num_tl_op_past_12m'),
 (0.007037172967952477, 'percent_bc_gt_75'),
 (0.006970464678817645, 'issue_d_Mar-2019'),
 (0.0068376693763778735, 'num_actv_bc_tl'),
 (0.006316263846355334, 'open_act_il'),
 (0.006018521551070162, 'mort_acc'),
 (0.005928302478217088, 'inq_fi'),
 (0.005925327289571472, 'open_rv_24m'),
 (0.005538937467932804, 'open_il_24m'),
 (0.005416482667510954, 'issue_d_Jan-2019'),
 (0.00521084549631363, 'open_acc_6m'),
 (0.0048460525568184715, 'open_rv_12m'),
 (0.00480195117748406, 'inq_last_6mths'),
 (0.0037525826607772103, 'tot_coll_amt'),
 (0.0033514070871775684, 'open_il_12m'),
 (0.0030760870767536606, 'delinq_2yrs'),
 (0.003014577922184813, 'num_accts_ever_120_pd'),
 (0.0028066728439605517, 'next_pymnt_d_Apr-2019'),
 (0.002564310215218768, 'pub_rec_bankruptcies'),
 (0.002494803911558061, 'issue_d_Feb-2019'),
 (0.0023648009927358313, 'application_type_Joint App'),
 (0.0023549235031888305, 'verification_status_Verified'),
 (0.0023066378570682626, 'next_pymnt_d_May-2019'),
 (0.0022549403419618017, 'pub_rec'),
 (0.001941540696688213, 'application_type_Individual'),
 (0.0019263566304526564, 'verification_status_Not Verified'),
 (0.0018473335411956968, 'home_ownership_RENT'),
 (0.001828044786967082, 'home_ownership_OWN'),
 (0.00180843907277627, 'verification_status_Source Verified'),
 (0.0014814395823823721, 'home_ownership_MORTGAGE'),
 (0.001295627288454945, 'num_tl_90g_dpd_24m'),
 (0.0011655697312457115, 'collections_12_mths_ex_med'),
 (0.0010828125227080178, 'initial_list_status_w'),
 (0.000733038340519229, 'initial_list_status_f'),
 (0.00034104181784477236, 'chargeoff_within_12_mths'),
 (0.00029442152793271263, 'home_ownership_ANY'),
 (0.0, 'tax_liens'),
 (0.0, 'recoveries'),
 (0.0, 'pymnt_plan_n'),
 (0.0, 'policy_code'),
 (0.0, 'num_tl_30dpd'),
 (0.0, 'num_tl_120dpd_2m'),
 (0.0, 'hardship_flag_N'),
 (0.0, 'delinq_amnt'),
 (0.0, 'debt_settlement_flag_N'),
 (0.0, 'collection_recovery_fee'),
 (0.0, 'acc_now_delinq')]

### Easy Ensemble Classifier

In [30]:
# Train the Classifier
# YOUR CODE HERE
from imblearn.ensemble import EasyEnsembleClassifier
eec= EasyEnsembleClassifier(random_state=78)
eec.fit(X_train_scaled, y_train)

EasyEnsembleClassifier(random_state=78)

In [31]:
# Calculated the balanced accuracy score
# YOUR CODE HERE
y_pred = eec.predict(X_test_scaled)
balanced_accuracy_score(y_test, y_pred)

0.9132794417668744

In [32]:
# Display the confusion matrix
# YOUR CODE HERE
confusion_matrix(y_test, y_pred)

array([[   83,     9],
       [ 1294, 15819]], dtype=int64)

In [33]:
# Print the imbalanced classification report
# YOUR CODE HERE
print(classification_report_imbalanced(y_test, y_pred))

                   pre       rec       spe        f1       geo       iba       sup

  high_risk       0.06      0.90      0.92      0.11      0.91      0.83        92
   low_risk       1.00      0.92      0.90      0.96      0.91      0.84     17113

avg / total       0.99      0.92      0.90      0.96      0.91      0.84     17205

### Final Questions

1. Which model had the best balanced accuracy score?

    YOUR ANSWER HERE.

2. Which model had the best recall score?

    YOUR ANSWER HERE.

3. Which model had the best geometric mean score?

    YOUR ANSWER HERE.

4. What are the top three features?

    YOUR ANSWER HERE.

In [ ]:
#1 The EasyEnsemble model has the best accuracy
#2 The Forest model has the best recall score
#3 The EasyEnsemble has the better geometric mean
#4 (0.08793538530204213, 'total_rec_int'),(0.08639918835849911, 'last_pymnt_amnt'),(0.06973961545522732, 'total_rec_prncp'),